{% load static %}
<!DOCTYPE html> 
<html lang="kk">
	
<!-- doccure/add-billing.html  30 Nov 2019 04:12:37 GMT -->
<head>
		<meta charset="utf-8">  
		<title>HealthStack</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

		<!-- Favicons -->
		<link type="image/x-icon" href="{% static 'HealthStack-System/images/Normal/favicon.png' %}" rel="icon">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/bootstrap.min.css' %}">

		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'HealthStack-System/plugins/Normal/fontawesome/css/all.min.css' %}">

		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'HealthStack-System/css/Normal/style.css' %}">
		
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index-2.html" class="navbar-brand logo">
							
							<img src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}"  class="img-fluid" alt="Логотип">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index-2.html" class="menu-logo">
								<img src="{% static 'HealthStack-System/images/Normal/logo.jpg' %}" class="img-fluid" alt="Логотип">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<a href="index-2.html">Басты бет</a>
							</li>
							<li class="has-submenu active">
								<a href="#">Дәрігерлер <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="active"><a href="doctor-dashboard.html">Дәрігердің Панелі</a></li>
									<li><a href="appointments.html">Кездесулер</a></li>
									<li><a href="schedule-timings.html">Жоспарлау Уақыты</a></li>
									<li><a href="my-patients.html">Пациенттер Тізімі</a></li>
									<li><a href="patient-profile.html">Пациент Профилі</a></li>
									<li><a href="chat-doctor.html">Чат</a></li>
									<li><a href="invoices.html">Шоттар</a></li>
									<li><a href="doctor-profile-settings.html">Профиль Орналастыру</a></li>
									<li><a href="reviews.html">Пікірлер</a></li>
									<li><a href="doctor-register.html">Дәрігер тіркеуі</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="#">Пациенттер <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="search.html">Дәрігерді іздеу</a></li>
									<li><a href="doctor-profile.html">Дәрігер профилі</a></li>
									<li><a href="booking.html">Брондау</a></li>
									<li><a href="checkout.html">Төлем</a></li>
									<li><a href="booking-success.html">Брондау Сәтті</a></li>
									<li><a href="patient-dashboard.html">Пациент Панелі</a></li>
									<li><a href="favourites.html">Таңдаулылар</a></li>
									<li><a href="chat.html">Чат</a></li>
									<li><a href="profile-settings.html">Профиль Орналастыру</a></li>
									<li><a href="change-password.html">Құпиясөзді өзгерту</a></li>
								</ul>
							</li>	
							<li class="has-submenu">
								<a href="#">Беттер <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="voice-call.html">Дауыс Қоңырауы</a></li>
									<li><a href="video-call.html">Бейне Қоңырау</a></li>
									<li><a href="search.html">Дәрігерлерді Іздеу</a></li>
									<li><a href="calendar.html">Календарь</a></li>
									<li><a href="components.html">Құралдар</a></li>
									<li class="has-submenu">
										<a href="invoices.html">Шоттар</a>
										<ul class="submenu">
											<li><a href="invoices.html">Шоттар</a></li>
											<li><a href="invoice-view.html">Шотты көру</a></li>
										</ul>
									</li>
									<li><a href="blank-page.html">Бастапқы Бет</a></li>
									<li><a href="login.html">Кіру</a></li>
									<li><a href="register.html">Тіркелу</a></li>
									<li><a href="forgot-password.html">Құпиясөзді ұмыттыңыз ба?</a></li>
								</ul>
							</li>
							<li>
								<a href="admin/index.html" target="_blank">Әкімші</a>
							</li>
							<li class="login-link">
								<a href="login.html">Кіру / Тіркелу</a>
							</li>
						</ul>	 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Байланыс</p>
								<p class="contact-info-header"> +1 315 369 5943</p>
							</div>
						</li>
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									
									<img class="rounded-circle" src="{% static 'HealthStack-System/images/Normal/doctors/doctor-thumb-02.jpg' %}" width="31" alt="Дэррен Эльдер">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="{% static 'HealthStack-System/images/Normal/doctors/doctor-thumb-02.jpg' %}" alt="Пайдаланушы Суреті" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>Дэррен Эльдер</h6>
										<p class="text-muted mb-0">Дәрігер</p>
									</div>
								</div>
								<a class="dropdown-item" href="doctor-dashboard.html">Панель</a>
								<a class="dropdown-item" href="doctor-profile-settings.html">Профиль Орналастыру</a>
								<a class="dropdown-item" href="login.html">Шығу</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Басты бет</a></li
